version: "3.5"

services:
  proxy:
    build: ./haproxy/.
    image: my-haproxy
    #env_file: .env
    networks:
      scalenetDB:
        ipv4_address: 192.168.13.10
    ports:
      - "3306:3306"
      - "9000:9000"
  db-sql-node-1:
    image: percona/percona-xtradb-cluster:5.6
#    env_file: .env
    networks:
      scalenetDB:
        ipv4_address: 192.168.13.2
    environment:
      #CLUSTER_JOIN: 192.168.13.3,192.168.13.4
      CLUSTER_JOIN: 
      CLUSTER_NAME: 'zabbix-db-cluster-1'
      MYSQL_ROOT_PASSWORD: 'murloc'
    restart: "no"
  db-sql-node-2:
    image: percona/percona-xtradb-cluster:5.6
    networks:
      scalenetDB:
        ipv4_address: 192.168.13.3
    environment:
      CLUSTER_JOIN: 192.168.13.2,192.168.13.4
      CLUSTER_NAME: 'zabbix-db-cluster-1'
      MYSQL_ROOT_PASSWORD: 'murloc'
    restart: "no"
  db-sql-node-3:
    image: percona/percona-xtradb-cluster:5.6
    networks:
      scalenetDB:
        ipv4_address: 192.168.13.4
    environment:
      CLUSTER_JOIN: 192.168.13.2,192.168.13.3
      CLUSTER_NAME: 'zabbix-db-cluster-1'
      MYSQL_ROOT_PASSWORD: 'murloc'
    restart: "no"



  zabbix-server-42:
    image: zabbix/zabbix-server-mysql:centos-4.2-latest
    ports:
     - "10051:10051"
    environment:
      DB_SERVER_HOST: '192.168.13.X'
      DB_SERVER_PORT: 3306
      MYSQL_USER: root
      MYSQL_PASSWORD: murloc
      ZBX_STARTDBSYNCERS: 1
    networks:
      scalenetDB:
        ipv4_address: 192.168.13.11


  zabbix-server-52:
    image: zabbix/zabbix-server-mysql:centos-5.2-latest
    ports:
     - "10052:10051"
    environment:
      DB_SERVER_HOST: '192.168.13.2'
      DB_SERVER_PORT: 3306
      MYSQL_USER: root
      MYSQL_PASSWORD: murloc
    networks:
      scalenetDB:
        ipv4_address: 192.168.13.11


  zabbix-agent:
    image: zabbix/zabbix-agent:alpine-5.2-latest
    ports:
     - "10050:10050"
    privileged: true
    pid: "host"
    networks:
      scalenetDB:
        ipv4_address: 192.168.13.12
    environment: 
      ZBX_SERVER_HOST: 192.168.13.11
      ZBX_ACTIVESERVERS: 192.168.13.12
      ZBX_HOSTNAME: "Zabbix server"

  zabbix-frontend:
    image: zabbix/zabbix-web-nginx-mysql:centos-4.2-latest
    ports:
     - "8081:80"
#    - "8081:8080"
     - "8443:8443"
    environment: 
      ZBX_SERVER_HOST: 192.168.13.11
      ZBX_SERVER_PORT: 10051
      ZBX_SERVER_NAME: 'Workshop Percona'
      DB_SERVER_HOST: 192.168.13.10
      DB_SERVER_PORT: 3306
      MYSQL_USER: root
      MYSQL_PASSWORD: murloc
    networks:
      scalenetDB:
        ipv4_address: 192.168.13.20




networks:
  scalenetDB:
    ipam:
      driver: default
      config:
        - subnet: "192.168.13.0/24"
